//=================================================
// Logo
//=================================================

/*=============================
// Loading
=============================*/
.loading {
  .logo {
    img {
      width: 6.6rem;
    }
  }
}

/*=============================
// Header
=============================*/
.site-header,
.menu-modal .modal-header {
  .logo {
    img {
      width: 6.6rem;
    }
  }
}

/*=============================
// Footer
=============================*/
.site-footer {
  .logo {
    img {
      width: 11rem;
    }
  }
}
